.container{
    height: 80vh;
    width: 80vw;
    max-width: 1440px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #000;
}

.header{
    text-align: center;
    padding: 20px;
    max-width: 1440px;
    color: #fff;
    position: relative;
}

.header h1{
    font-size: 28px;
}

.header button{
    color: inherit;
    font-size: 30px;
    position: absolute;
    right: 25px;
    top: 20px;
}

.header input{
    padding: 10px 15px;
    margin-top: 15px;
    width: 25rem;
    border-radius: 4px;
    background-color: #111;
}

.content{
    position: relative;
    height: calc(100% - 124px);
    padding: 20px;
    overflow-y: auto;
}

.content::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
}

.content::-webkit-scrollbar-thumb{
    background-color: #fff;
}

.list li{
    margin: 15px 9px 0 9px;
    display: flex;
    justify-content: space-between;
}

.list li button{
    font-size: 16px;
    transition: .3s ease-out;
}

.list li button:hover{
    color: #d60d2b;
}

.notification{
    color: #000;
    background-color: #fff;
    width: max-content;
    padding: 15px;
    border-radius: 5px;
    margin: 15px auto 0 auto;
    font-weight: 500;
    opacity: 0;
    animation: downNotifiction .2s forwards;
}

.total{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes downNotifiction{
    to{
        opacity: 1;
    }
}

@media(max-width: 750px){
    .header input{
        width: 20rem;
    }
}

@media(max-width: 550px){
    .header h1, .header h2, .header button, .notification{
        font-size: 20px;
    }

    .header input{
        width: 13rem;
    }

    .notification{
        font-size: 12px;
    }
}